<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  It seems your instincts have served you well! After further digging into our historical database, we’ve discovered some fascinating information that might be of use to you in your mission:
</p>

<p class="left">
Phoenix Lodge No. 131, held its first meeting on December 27, 1851. The Lodge met in the Cumberland Lodge Building until a fire destroyed the building in July of 1856. Two years later, a cornerstone was laid by Cumberland Lodge for a new temple, which was completed in time for Federal forces to occupy it during the Civil War.
</p>
<p class="left">
  From December 1861 to December 1863, Phoenix Lodge met in various places while the Cumberland building was occupied. This is the only exception to the continuous meeting of Phoenix Lodge throughout its 150+ years of existence. Following the Civil War, and up to the present day, Phoenix Lodge has continued to meet in the Cumberland Lodge Building, which is known as the Second Temple.

</p>

<p class="left">Our records show that Mr. Charles Eastman was initiated into Freemasonry at the Phoenix Lodge #131.</p>

<p class="left">This most certainly must be one of the posts the Knights used for their stolen loot! Well done!
</p>

<p class="left">While you were on your way to the Phoenix Lodge, our cryptologists have uncovered new information from Mr. Woodson’s diary. Please activate the Decodex below.
</p>

</div>


<div class="list-div auto-margin">

<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter2-6'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter2-4'}} <button type="button" name="button" class="btn-question medium white center im-fell-english">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
