<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  It seems your instincts have served you well! After further digging into our historical database, we’ve discovered some fascinating information that might be of use to you in your mission:
</p>

<p class="left">
As the largest inland stone fortification built during the Civil War, Fort Negley stood as the centerpiece of Union occupied Nashville. Nashville’s strategic location on the Cumberland River and networks of turnpikes and railroads made the city a valuable asset to both the Union and Confederate Armies. Following the surrender to the Union Army on February 25, 1862, Nashville became a fortified stronghold, second only to Washington D.C.
</p>
<p class="left">
  From August through December 1862, more than 2700 conscript laborers, predominantly contrabands (runaway slaves) and free Blacks, constructed Fort Negley, a star-shaped limestone block structure atop St. Cloud Hill, as part of a massive fortification system. Fort Negley’s location, size, and cannons discouraged Confederate attacks throughout the war.
</p>

<p class="left">Shortly after the war, the fort was abandoned and fell into ruin; however, its outline could be readily discerned for many years afterwards in the encroaching woods. During the Reconstruction period, the area was used as a meeting place for the Sons of Malta.

</p>

<p class="left">This most certainly must be one of the posts the Knights used for their stolen loot! Well done!
</p>

<p class="left">While you were on your way to the Phoenix Lodge, our cryptologists have uncovered new information from Mr. Woodson’s diary. Please activate the Decodex below.
</p>

</div>


<div class="list-div auto-margin">

<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="button-wrapper-row">
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-4'}} <button type="button" name="button" class="btn medium white center im-fell-english padding-rl-3">Back</button> {{/link-to}}

{{#link-to 'knights-of-infernal-order.adventure.chapter2-6'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Decodex</button> {{/link-to}}
</div>

</div>
{{outlet}}
