<div class="section-1 full-page">
  <div class="filter full-page">

    <p class="oswald yellow medium center">Choose Your Location</p>
    {{#link-to 'index'}}<button class="back-button oswald">Back</button>{{/link-to}}


    {{#link-to 'nashville-adventures' class='link-to city-link center nashville white libre-baskerville'}} Nashville, TN {{/link-to}}
     <div class="city-link link-to goonies-map"><p class="oswald center white no-margin">More Cities Coming!</p></div>
  </div>
</div>





{{outlet}}
