<div class="section-1 full-page">
  <div class="filter full-page">
    <div class="city-nav">
      <div class="back-button"><p class="libre-baskerville back-button-text">Back</p></div>
    <p class="oswald yellow medium center">Choose Your Location</p>

    </div>
    {{#link-to 'nashville-adventures' class='link-to city-link center nashville'}} <p class="libre-baskerville medium white nodecoration">Nashville, TN</p> {{/link-to}}

  </div>
</div>




{{#link-to 'index'}} <h3>take me back to index</h3>{{/link-to}}
{{outlet}}
