<h2>this is chapter 5-2</h2>
{{#link-to 'knights-of-infernal-order.adventure.epilogue-1'}} <p>to the good ending</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.epilogue-2'}} <p>to the bad ending</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter5-1'}} <p>back to previous page</p> {{/link-to}}

{{outlet}}
