<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 1</h2>
<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Dearest Friend,</p>

<p class="left">
   We have come into the possession of
   new information that will surely assist
   you in your journey! An old colleague of
   mine has recently been appointed as the head
   of his state’s archaeological department.
   Having similar interests at heart, he
   contacted me some time ago over an
   exciting find. During the rehabilitation of
   a historic home in Clay County, Missouri, a
   mysterious coded journal was found in a secret
   compartment of the basement.

</p>
</div>

<div class="profile-image-parent">
  <img class="image" src="/img/journal.jpg" alt="">
</div>

<div class="list-div auto-margin">
<p class="left">
                    We have reason to believe this journal
                    belonged to Mr. Woodson, one of the guerillas
                    sent to Tennessee by the Knights of the
                    Infernal Order. After much work by our
                    cryptologists, we have ascertained that the
                    journal divulges the location of a central
                    meeting place in the city of Nashville.
                    This excerpt of dialogue comes from one of
                    the decoded sheets of the newly discovered
                    diary. To view our translation, please click
                    the link to activate the encrypted messenger
                    below.

</p>
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter1-2'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.prologue'}} <button type="button" name="button" class="btn">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
