<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 1</h2>
<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,
</p>

<p class="left">
  We have come into the possession of new information that will assist you in your endeavor! An old colleague of mine has recently been appointed as the head of his state’s Archaeological Department and has contacted me regarding an exciting find. During the rehabilitation of a historic home in Clay County, Missouri, a mysterious coded journal was found in a secret compartment of the basement.


</p>
</div>

<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/journal.jpg" alt="">
</div>

<div class="list-div auto-margin">
<p class="left">
After careful examination, we have reason to believe that this journal once belonged to Mr. Woodson—one of the Knights of the Infernal Order! Our cryptologists have been working around the clock to decode the journal’s contents and have discovered the location of a central meeting place in the city of Nashville. To view the translation, please click the button to activate the encrypted messenger below.
</p>
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter1-2'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.prologue'}} <button class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
