
@import 'variables';
body {
  margin: 0;
}
.home-page-container {
  width:100vw;
}

/*This is the section you see when you open the page "opening section"*/

.home-page-h1 {
  color:  $brand-white;
  font-family: 'Oswald', sans-serif;
  width: 19rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.section-1 {
  width: 100%;

  background: url('http://i.imgur.com/24VgE9T.jpg')center no-repeat no-repeat;
  background-size: cover;

}


.filter {
  background: rgba(0,0,0,0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.image {
  max-width: 100%;

}
.image-parent {
 max-width: 70%;
 min-width: 5rem;
}

.cityscape {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: $brand-yellow;
    width: 12rem;
    margin: auto;
    position: relative;
    bottom: 22px;

}

.number {
  position: relative;
  bottom: -12px;
  margin: auto;
  color: $brand-white;
  width: 3rem;
  font-weight: 300;
}


/*end opening section*/


// begin section-2 *********



.section-2 {
  width: 100%;
  background: $brand-white;
}

.libre-baskerville {
  font-family: 'Libre Baskerville';
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.what-we-do {
  font-size: 3rem;
  font-weight: lighter;
  margin: auto;
  width: 12.5rem;
  margin-top: 1rem;
}

.chapter {
  position: relative;
  top:-2px;
  margin: auto;
  width: 8rem;
  color: $brand-black;
}

.description {
  display: flex;

  width: calc(100% - 1rem - 1rem);
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.flex-row-container {
  width: 100%;
  display:flex;
  flex-direction: column;
}
.equation-container {
  display: flex;
  width: 100%;

}

.equation-image-parent {
  width: 25%;
  margin: auto;
}
.equation-symbol-parent {
  width: 10%;
  margin: auto;
}

// end section-2 **********


// begin section-3*********

.section-3 {
  width: 100%;
  background: url('http://i.imgur.com/zZfrPTI.jpg')center center no-repeat;
  background-size: cover;

}

.section-3-number {
  font-family: 'Oswald', sans-serif;
  margin: auto;
  color: $brand-white;
  width: 3rem;
  font-weight: 300;
  font-size: 3rem;
}

.white-chapter {
  margin: auto;
  width: 8rem;
  color: $brand-white;
  font-size: 2rem;

}

.how-it-works {
  font-size: 3rem;
  font-weight: lighter;
  margin: auto;
  width: 16.5rem;
  margin-top: 1rem;
  color: $brand-white
}

.direction {
  width: 100%;
  margin-bottom: 2rem;

}

.direction-image-parent {
  width: 50%;
  margin: auto;

}

.direction-text {
  display: flex;
  align-content: center;
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.white {
  color: $brand-white
}

//  end section-3*******************


//  begin section-4******************

.section-4 {
  width: 100%;
  background: $brand-black;

}

.where-and-when {
  font-size: 3rem;
  font-weight: lighter;
  margin: auto;
  width: 15.5rem;
  margin-top: 1rem;
  color: $brand-white

}
