
@import 'variables';
body {
  margin: 0;
}
.home-page-container {
  width:100vw;
}

/*This is the section you see when you open the page "opening section"*/

.home-page-h1 {
  color:  $brand-white;
  font-family: 'Oswald', sans-serif;
  width: 19rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.section-1 {
  width: 100%;

  background: url('http://i.imgur.com/24VgE9T.jpg')center no-repeat no-repeat;
  background-size: cover;

}


.filter {
  background: rgba(0,0,0,0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.image {
  max-width: 100%;

}
.image-parent {

 max-width: 30rem;
 min-width: 15rem;
}

.cityscape {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: $brand-yellow;
    width: 12rem;
    margin: auto;
    position: relative;
    bottom: 22px;

}

@media screen and (min-width: 760px) {
  .cityscape {
    font-size: 5rem;
    width: 20rem;
  }
}

.number {
  position: relative;
  bottom: -12px;
  margin: auto;
  color: $brand-white;
  width: 3rem;
  font-weight: 300;
}


/*end opening section*/


// begin section-2 *********



.section-2 {
  width: 100%;
  background: $brand-white;
}

.im-fell-english {
  font-family: 'Im fell English';
}

.libre-baskerville {
  font-family: 'Libre Baskerville';
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.what-we-do {
  font-size: 3rem;
  font-weight: lighter;
  margin: auto;
  width: 12.5rem;
  position: relative;
  top: -15px;
  margin-top: 0;

}

.chapter {
  position: relative;
  top:-2px;
  margin: auto;
  width: 8rem;
  color: $brand-black;
}

.description {
  display: flex;

  justify-content: center;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.flex-row-container {
  width: 100%;
  display:flex;
  flex-direction: column-reverse;
}
.equation-container {
  display: flex;
  width: 100%;

}
.equation-image-parent {
  width: 30%;
  margin: auto;
}
@media screen and (min-width: 760px) {
  .equation-container {
    margin: auto;
    width: 70%;
  }

  .equation-image-parent {
    width: 20%;
  }
}



.equation-symbol-parent {
  width: 5%;
  margin: auto;
}

// end section-2 **********


// begin section-3*********

.section-3 {
  width: 100%;
  background: url('http://i.imgur.com/zZfrPTI.jpg')center center no-repeat;
  background-size: cover;

}

.section-3-number {
  font-family: 'Oswald', sans-serif;
  margin: auto;
  color: $brand-white;
  width: 3rem;
  font-weight: 300;
  font-size: 3rem;
}

.white-chapter {
  margin: auto;
  width: 8rem;
  color: $brand-white;
  font-size: 2rem;

}

.how-it-works {
  font-size: 2.75rem;
  font-weight: lighter;
  margin: auto;
  width: 15rem;
  margin-top: 0;
  color: $brand-white;


}

.direction {
  width: 100%;
  margin-bottom: 2rem;

}

.direction-image-parent {
  width: 40%;
  margin: auto;

}
@media screen and (min-width: 760px) {
  .direction-image-parent {
    width: 15%;
  }
  }


.direction-text {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
}

.white {
  color: $brand-white
}

//  end section-3*******************


//  begin section-4******************

.section-4 {
  width: 100%;
  background: $brand-black;
}

.where-and-when {
  font-size: 2.75rem;
  font-weight: lighter;
  margin: auto;
  width: 13.8rem;
  margin-top: 0;
  color: $brand-white

}

.yellow {
  color: $brand-yellow;
}

.flex-qa-container {
  width: 90%;
  display:flex;
  flex-direction: column;
  margin: auto;
}


.skyline {
  width: 100%;
  margin: auto;

}

// end section-4 **********************************


// Begin section-5  *******************************

.section-5 {
  width: 100%;
  background: $brand-white;

}

.who-we-are {
  font-size: 2.75rem;
  font-weight: lighter;
  margin: auto;
  width: 11.3rem;
  margin-top: 0;

}

.black {
  color: $brand-black;
}


.profile-container {
  width: 100%;
}
.profile-image-parent {
  width: 20rem;
  min-width: 5rem;
  margin: auto;
  margin-top: 2.5rem;
}

.circle {
  border-radius: 50%;
}

.make-dimentions-match {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

.profile-name {
  font-size: 3rem;
  font-weight: 350;
  margin: auto;
  margin-top: 1rem;
  width: 17.16rem;
  position: relative;
  bottom: 27px;
}

// end section-5 ************************


//  begin section-6 *****************************

.section-6 {
  width: 100%;
  background: url('http://i.imgur.com/gP49p4w.jpg')center center no-repeat;
  background-size: cover;
  position: relative;
}

.why-wait {
  font-size: 2.75rem;
  font-weight: lighter;
  margin: auto;
  width: 10.1rem;
  margin-top: 0;

}

.idol-parent {
  display: flex;
  margin: auto;
  min-height: 15rem;
  width: 15rem;
  background: url('http://i.imgur.com/AeYF3ab.png')center center no-repeat;
  background-size: cover;
}

.register-text {
  font-weight: bold;
      font-size: 3rem;
      margin: auto;
      filter: drop-shadow(0px 0px 5px black);
      text-shadow: grey 2px 2px;
      position: relative;
      top: 26px;
}

.adventure-title-parent {
  width: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.5rem;
}

.small {
  font-size: 1.5rem;
  margin: 0;
}
.medium-2 {
  font-size: 2.6rem;
  margin: 0;
}
.medium {
  font-size: 3rem;
  margin: 0;
}

.big {
  font-size: 3.8rem;
  margin: 0;
}

.center {
  text-align: center;
}

.adventure-blurb {
  width: 90%;
  text-align: center;
}

.link-to {
  text-decoration: none;
  margin: 3rem;
  width: 50%;
  padding: 2rem;
}

.city-nav {
  display: flex;
  justify-content: space-around;
}

.back-button {
  border-radius: 20%;
  background: $brand-yellow;
  color: $brand-white;
}

.back-button-text {
  padding: 1rem;
}

.city-link {
  transition:all .5s ease;
  outline:none;
  box-shadow: 5px 38px 34px -26px $brand-white;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 7px $brand-yellow;
  &:hover{
         box-shadow:2px 8px 4px -6px $brand-white;
      }
}
a {
  margin: 0;
}
 .full-page {
   min-height: 100vw;
 }

.nashville {
  background: url('http://www.blacklightslide.com/wp-content/uploads/2016/10/nashvillelarge.jpg')center center no-repeat;
  background-size: cover;
  text-shadow: black 2px 2px;
}
