.decodex-wrapper {
  background-color: black;
  color: lime;
  font-family: VT323;
  font-size: 24px;
  text-shadow: lime 0 0 10px;
}

.p1, .p3 {
  margin-top: .75rem;
  background-color: lime;
  color: black;
  box-shadow: lime 0 0 15px;
  text-shadow: 0 0 0;
  animation: type .5s steps(25);
}

.p2 {
  animation: type 2s steps(20);
  font-family: VT323;

}

.decodex-span {
  animation: blink 1s infinite;
}

.decodex-link-to {
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 80%;
  border: lime 2px solid;
  color: lime;
  font-size: 5rem;
  text-decoration: none;

}

.decodex-link-to:hover {
  background-color: lime;
  color: black;
  box-shadow: lime 0 0 15px;
}



.book {
  animation: glitch .125s 0s infinite ease alternate-reverse;
  box-shadow: lime 0 0 15px;
}

@keyframes type {
  0% {width: 0;}
  20% {width: 0;}
  80% {width: 75%;}
  100% {width: 100%;}
}

@keyframes blink{
  to {opacity: 0;}
}

@keyframes glitch {
  0% {
    opacity: .7;
    transform: scale(1.005);
    transform: translateY(1px);
    box-shadow: inset lime 0px 0px 20px;
  }

  25% {
    opacity: .9;
    transform: translateY(-2px);
    transform: skewY(.00625rad);
    transform: scale(0.99);
        transform: rotateX(5deg);
  }

  50% {
    opacity: .85;
    transform: translateY(3px);
    transform: skewX(.006rad);
  }
  75% {
    opacity: .95;
    transform: translateY(-5px);
    transform: skewX(-.025rad);
}
  100% {
    opacity: .8;
    transform: rotateY(20deg);

  }
}
