<div class="section-2 center chapter-wrapper">

<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  The speed at which you sleuth is quite
                impressive! I feel our efforts are bringing
                us closer to our reward by the minute! Thanks
                to the information we have “liberated” from
                the Whites Creek Historical Society database,
                 we have a some very curious information to
                 share with you.
</p>

<p class="left">
  The building in front of you is the
                Centre Star Lodge #409 which has been in
                existence in Whites Creek, TN since 1870. But
                further research has revealed that the secret
                society was not the original occupier of this
                temple. The Freemasons did not acquire this
                historic structure until 1965. Before then,
                they adjourned in what was once Whites Creek
                General Store. This building's first tenant
                was the Methodist Episcopal Church of the
                South. A Reverend Alex Little Page Green was
                responsible for the building’s construction
                in 1873, just a year before his death. Alex
                Green it seems, was not only a Methodist
                preacher, but was also one of the founders
                of Vanderbilt University, a slave owner, and
                a supporter of the Confederacy during the war.
                He also had a son, a Capt. Frank Waters Green!

</p>
<p class="left">
  Interestingly enough our researchers have
                also concluded that the emblem used by the
                United Methodist Church is known as the
                "cross and flame"! Though it was used early
                on in the church's history, the symbol was
                not officially adopted until 1968.

</p>

<p class="left">We have also recovered a number of claims
                pertaining to A.L.P. Green and his son. They have
                been included in the research report below.</p>

</div>


<div class="list-div auto-margin">

<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter3-6'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter3-4'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
