<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Impressive work, my friend!
</p>

<p class="left">
  I feel our efforts are bringing us closer to our reward by the minute! Thanks to the records that our researchers pulled from the Whites Creek Historical Society database, we have some very curious information to share with you…
</p>

<p class="left">
  The building in front of you is the Centre Star Lodge #409, which has been in existence in Whites Creek since 1870; however, further research has revealed that the secret society was not the original occupier of this Temple. The Freemasons did not acquire this historic structure until 1965. Prior to this time, they adjourned in what was once the Whites Creek General Store.

</p>
<p class="left">
  The first tenant of this building was the Methodist Episcopal Church of the South. Reverend Alex Little Page Green was responsible for the building’s construction in 1873, just one year before his death. In addition to being a Methodist preacher, Reverend Green was also one of the founders of Vanderbilt University, a slave owner, and a supporter of the Confederacy during the war. Our records indicate that he also had a son, Captain Frank Waters Green, whose name you might recognize as the sender of the telegram described in Mr. Woodson’s journal!

</p>

<p class="left">Interestingly enough, our researchers have also concluded that the emblem used by the United Methodist Church is known as the "cross and flame”! Though it was used early on in the church's history, the symbol was not officially adopted until 1968.
</p>

<p class="left">We have recovered a number of claims pertaining to Reverend Green and his son. They have been included in the research report below…
</p>
</div>


<div class="list-div auto-margin">

<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter3-6'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter3-4'}} <button type="button" name="button" class="btn-question medium white center im-fell-english">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
