<h2>this is chapter 1-3</h2>
{{#link-to 'knights-of-infernal-order.adventure.chapter1-4'}} <p>to chapter1-4</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-2'}} <p>back to previous page</p> {{/link-to}}


{{outlet}}
