<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                                I have received written correspondence from Charles Eastman with some encouraging news regarding the successful retrieval of the valuables my brother and I were forced to abandon during our hasty retreat. With the help of our brethren, he has relocated the Phoenix trove and united it with the trove of the Flame Upon The Cross. Mr. Hill’s arrest has caused us a great deal of difficulty, but Charles has assured me that, other than his foolhardy confessions the night of his apprehension, Mr. Hill has remained silent as to our plans.
                               </p>

                               <p class="p2">In advance of our return, whenever that may be, Charles has fashioned a new map key so that we may recover the troves from their resting places. I have taken the privilege of transcribing it below for our future use:
</p>

<p class="p2">The Freemason’s code</p>

<p class="p2">“Therefore thus says the Lord GOD, Behold, I am laying in Zion a stone, a tested stone, A costly cornerstone for the foundation, firmly placed. He who seeks it shall find salvation.</p>

  <p class="p2">Isaiah 28:16”</p>


                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
