<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <p class="p1 center">
                 ///DATABASE REPORT///
              </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  The following facts were obtained from the
                  personal memoirs of a Mr. Charles H. Eastman
                  of Nashville, TN..
                  </p>

  <p class="p2">Mr. Eastman at that time lived in
                Bordeaux near Hyde’s Ferry, in a mansion
                known as Cedarnwold. There was no Hydes Ferry
                bridge then, and the ferry was a few hundred
                yards below the present bridge. The road to
                the ferry passed in front of the old
                residence. On this road nearly opposite
                Cedarnwold, were a few little cottages, in one
                of which, Mr. Woodson lived. Mr. Eastman,
                goes on to write a great deal about Mr.
                Woodson:
  </p>
  <p class="p2">"I knew my compatriot as "Mr. Woodson"
                during his stay near my home. Of course
                during the great struggle of the war I was
                obliged to call him by his true name, James.
                We visited back and forth across the road
                and Mr. Woodson would often come and sit
                with us on our porch of evenings. He was
                fond of Shakespeare and the drama and could
                quote extensively from the great playwright,
                and poet. It was our congenial literary
                tastes that first brought us close together
                so many years ago. He often rode to the west
                of town with me to tend to affairs of a very
                secret and important matter.
  </p>

  <p class="p2">Last week I received terrible news as to
                the common goal we both had worked so
                diligently toward. Our mutual friend Mr.
                Hill had been apprehended the night before.
                After much investigation, I discovered that
                after a day of heavy carousing,  Mr. Hill
                revealed our scheme to a group of gentlemen
                he assumed to be sympathizers. Once enough
                had been admitted to, he was immediately
                remanded into custody. The next morning,
                when I hurried to apprise my dear friend
                Woodson of the situation, I discovered he
                was already gone. When his brother, Mr.
                Howard, failed to follow Mr. Woodson's key
                to the map and call upon me, I enacted the
                appropriate plan. I traveled at once to the
                Temple to relocate the riches our Order is
                protecting. I can only hope Mr. Hill has not
                divulged too much to that traitorous
                Constable."
  </p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
