<div class="section-2 center chapter-wrapper">
  <div class="adventure-title-parent">

    <p class="medium im-fell-english black center margin-top-1">KNIGHTS</p>
    <p class="small im-fell-english black center">of the</p>
    <p class="medium-2 im-fell-english black center">INFERNAL</p>
    <p class="big im-fell-english black center">ORDER</p>
  </div>


<div class="profile-image-parent">

<img class="image" src="/img/kgc.jpg" alt="">
</div>

<h2 class="center">Prologue</h2>
<audio id="myAudio">
<source src="/audio/bizarre-guitar-daniel_simon.mp3" type="audio/mp3">
</audio>
<button  class="btn" type="button" {{action "player"}}>Play</button>

<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
<p class="left">
                   7 years after the surrender of the Confederacy,
                   a shadowy arm of the fallen government known as
                   the Knights of the Infernal Order sent 2 elite
                   commandos, Mr. Woodson and Mr. Howard along with
                   their chief lieutenant, Mr. Hill, into Davidson
                   County, TN.

                   While there, they were instructed to
                   search out, and establish contact with former
                   members of the Order's inner circle, many of
                   whom, who had infiltrated Nashville's secret
                   societies. Once reorganized, these fiery
                   cavaliers were charged with the task of raising
                   funds for a new army that would then conspire to
                   retake the Southern United States.

</p>
</div>
<div class="list-div auto-margin">
<p class="left">
                   Each of the mysterious figures, settling in
                   a different part of town, hid stashes of gold,
                   silver and jewels acquired from raids in 3
                   precise locations. These depositories, seized
                   through the collusion of their brethren were
                   known as Temples. On an ill-fated evening, the
                   knight's lieutenant was apprehended by the
                   authorities. When word spread of his capture,
                   the two primary operatives fled the area. Such
                   was their haste, they did not have time to
                   retrieve the caches of treasure before they
                   departed.</p>
</div>
<div class="list-div auto-margin">
<p class="left">
  Many years later, knowing his two comrades
dead and he never to return, the lone remaining
knight whispered an enigmatic confession on his
deathbed. Hoping that others of his kind would
someday discover the treasure's final resting
place. The verse recited, was recorded and is as
follows:
</p>
</div>
<div class="list-div auto-margin medium">
<p class="center">
"My soul is with the knights who guard the Tulip.
</p>
<p class="center">
  At the edge of a field I lurk among those who
                        have breathed forth fire and scathed the earth.
</p>
<p class="center">
  But the sons of men, whose fangs are spears
                        and arrows and their tongue a sharp sword,
                        will once again rise.
</p>
<p class="center">
  As does the Phoenix, as does the Flame Upon
                        the Cross, and as does the Sun.
</p>
<p class="center">

</p>
Laying the cornerstone for a second temple
                      that shall be resurrected out of the ruins of
                      the first."
</div>

<div class="list-div auto-margin">
<p class="left">
  Many times have the Knights of the Infernal Order
                  attempted to use these final words to recover the
                  stash of treasure left behind. Many times have
                  they failed. But a recent discovery, shedding new
                  light on the mystery, has convinced this shadow
                  army to set forth on another expedition to
                  retrieve the troves from their final resting
                  places.</p>
</div>
<div class="list-div auto-margin">
<p class="left">
  For over 150 years my organization has been
                  charged with the task of preventing them from
                  achieving their goals. It is time once again to
                  rise up and thwart their plot. It is essential
                  that we reach the treasure before they do.
                  Unfortunately, we suspect that the Infernal
                  Knights have planted an operative within our
                  midst. Until we uncover the truth as to whom it
                  may be, we must proceed with great caution. This
                  is why top members of our organization have
                  agreed to seek outside help. A person with whom
                  you are quite acquainted suggested that you may
                  be of great service to our cause. Will you join
                  us in our journey?</p>
</div>



{{#link-to 'knights-of-infernal-order.adventure.chapter1-1'}}<button type="button" name="button" class="btn">Begin</button>
 {{/link-to}}

{{outlet}}
</div>
