<div class="container-fluid">
      <!--==========================
      HEADER
      ===========================-->
          <header>
            <!--==========================
            ROW
            ===========================-->
             <div class="col-xs-12 text-center">
                 <h1>
                  Chapter One
                 </h1>
             </div>
             <!--==========================
             ROW
             ===========================-->
             <div class="col-xs-10 col-xs-offset-1">
               <img class="divider" src="img/swirly.png" alt="">
             </div>
          </header>
      <!--==========================
      MAIN
      ===========================-->
          <main>
            <!--==========================
            ROW
            ===========================-->
            <div class="col-xs-12">
              <p>
                Dearest friend,<br>

                <br>We have come into the possession of
                    new information that will surely assist
                    you in your journey! An old colleague of
                    mine has recently been appointed as the head
                    of his state’s archaeological department.
                    Having similar interests at heart, he
                    contacted me some time ago over an
                    exciting find. During the rehabilitation of
                    a historic home in Clay County, Missouri, a
                    mysterious coded journal was found in a secret
                    compartment of the basement.<br>
              </p>
            </div>
              <!--==========================
              ROW
              ===========================-->
            <div class="col-xs-12">
              <img class="journal" src="img/journal.jpg" alt="">
            </div>
            <!--==========================
            ROW
            ===========================-->
            <div class="col-xs-12">
              <p>
                <br>We have reason to believe this journal
                    belonged to Mr. Woodson, one of the guerillas
                    sent to Tennessee by the Knights of the
                    Infernal Order. After much work by our
                    cryptologists, we have ascertained that the
                    journal divulges the location of a central
                    meeting place in the city of Nashville.
                    This excerpt of dialogue comes from one of
                    the decoded sheets of the newly discovered
                    diary. To view our translation, please click
                    the link to activate the encrypted messenger
                    below.<br>
                <br>Sincerely,
                <br>Q.
              </p>
            </div>
            <div class="col-xs-12 text-center">
              <a href="Chapter1Decodex.html">
                <button type="button" name="button" class="btn">Decodex</button>
              </a>

            </div>
          </main>
          <!--==========================
          FOOTER
          ===========================-->
          <footer>

          </footer>


        </div>





{{#link-to 'knights-of-infernal-order.adventure.chapter1-1'}} <p>goes to chapter 1.1</p> {{/link-to}}
{{outlet}}
