<div class="section-2 center chapter-wrapper">
  <div class="adventure-title-parent">

    <p class="medium im-fell-english black center margin-top-1">KNIGHTS</p>
    <p class="small im-fell-english black center">of the</p>
    <p class="medium-2 im-fell-english black center">INFERNAL</p>
    <p class="big im-fell-english black center">ORDER</p>
  </div>


  <div class="kgc-image-parent">

    <img class="image" src="/img/kgc.jpg" alt="">
  </div>

  <h2 class="center">Prologue</h2>
  <audio id="myAudio">
<source src="/audio/kio2.mp3" type="audio/mp3">
</audio>
  <button class="btn" type="button" {{action "player"}}>Play{{fa-icon "caret-right" class="margin-left"}}</button>

  <button class="btn" {{action "clear"}} type="button">clear storage</button>

  <div class="image-parent margin-top-bottom">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">
      Seven years after the surrender of the Confederacy, a shadowy arm of the fallen government known as the Knights of the Infernal Order sent two of its elite commandos—Mr. Woodson and Mr. Howard—along with their chief lieutenant—Mr. Hill—into Davidson County,
      Tennessee.
    </p>

    <p class="left">
      Their mission was simple: to seek out former members of the Order’s inner circle—many of whom had infiltrated Nashville’s secret societies—in an effort to reunite them. Once this group was assembled, the three agents were charged with the task of absconding financial resources for a new army that would then conspire to retake the southern United States. To protect these stashes of gold, silver and jewels, the men hid their stolen treasures in three different locations known as Temples.
    </p>
  </div>
  <div class="list-div auto-margin">
    <p class="left">
      All was going to plan until an ill-fated evening of carousing led to Mr. Hill’s untimely arrest, forcing Howard and Woodson to flee the city without a chance to retrieve their caches of treasure.

    </p>
  </div>
  <div class="list-div auto-margin">
    <p class="left">
      Nothing was known about the location of these troves until decades later when Mr. Woodson—very much aware that his two comrades had already passed away—whispered an enigmatic confession on his deathbed:

    </p>
  </div>
  <div class="list-div auto-margin minutes oath">
    <p class="center">
      "My soul is with the knights who guard the Tulip.
    </p>
    <p class="center">
      At the edge of a field I lurk among those who have breathed forth fire and scorched the earth.
    </p>
    <p class="center">
      But the sons of men, whose fangs are spears and arrows and their tongue a sharp
sword, will once again rise.

    </p>
    <p class="center">
      As does the Phoenix, as does the Flame Upon the Cross, and as does the Sun.

    </p>
    <p class="center">
Laying the cornerstone for a second temple that shall be resurrected out of the ruins of the first."
    </p>


  </div>

  <div class="list-div auto-margin">
    <p class="left">
      Many times, the Knights of the Infernal Order have attempted to use these last words to recover the stashes of treasure left behind. Many times, the Knights have failed. However, a recent discovery has shed new light on the secret and has re-ignited their efforts to seek out these troves.
    </p>
  </div>
  <div class="list-div auto-margin">
    <p class="left">
      For over 150 years, our organization has been charged with the task of preventing the Knights of the Infernal Order from uncovering these riches and it is time, once again, to rise up against them.
</p>
<p class="left">
  Which brings me to you… There is reason to believe that the Infernal Order has planted an operative within our midst. Until we can uncover his or her identity, we must proceed with the utmost caution. To protect our operation, top members of our organization have agreed to seek outside help, and a person with whom you are well-acquainted has suggested that you may be of great service to us.

  </p>

  <p class="left">
    Will you join us in our mission?
  </p>
  </div>



  {{#link-to 'knights-of-infernal-order.adventure.chapter1-1'}}<button type="button" name="button" class="btn">Begin</button>
  {{/link-to}}

  {{outlet}}
</div>
