<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <p class="p1 center">
                 ///DATABASE REPORT///
              </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  The information included
                was referenced from the following source:
                  </p>

  <p class="p2">Arnow, Harriette Simpson,
  </p>
  <p class="p2">"The Flowering of the Cumberland",
  </p>
  <p class="p2">New York: The MacMillan CO.,
                Published 1963.
  </p>

  <div class="profile-image-parent flex-center book">
    <img class="image" src="/img/book.png" alt="">
  </div>

  <p class="p2">This history of the Whites Creek area by Mrs. Arnow, which includes
              testimonies from the community's leaders, reports the following:
  </p>
  <p class="p2">"The Reverend was suddenly whipped into a frenzy about the
              building of a new church. Many of the town folk whispered that the
              Reverend's latest passion was intimately attached to a resident new
              to Whites Creek. Not much is known about this mysterious gentleman,
              other than he has been seen speaking in confidence with Amoz and his
              son Frank Waters Green on many occasions”.
  </p>


  <p class="p2">7 years after Reverend Green’s death in 1881 his son, a
              Captain in the 14th TN Infantry, oddly requested that the
              congregation add a grand memorial in the front of the church
              in his father’s honor. As it was later recorded;
  </p>
  <p class="p2">“Though the fellow members of the church found the proposed
              memorial… a bit unusual, we felt it would do dishonor to the
              gallant war hero and 'The Lion of Appomattox' to deny his request.
              After all, his father was the cornerstone of the church."
  </p>
  <p class="p2">Captain Green sought to have a sundial placed on the front lawn,
              facing due east, just as the church. On the face of the dial Captain
              Green had these words engraved:
  </p>
  <p class="p2">"And behold, at the entrance to the temple of the Lord, between
              the porch and the altar, were about twenty-five men with their backs
              to the temple of the Lord and their faces toward the east; and they
              were prostrating themselves eastward toward the Sun."
  </p>
  <p class="p2">Ezekiel 8:16.
  </p>
  <p class="p2">Regretfully, the memorial Amoz Green's son commissioned was
              removed by the Freemasons when they took control of the property.
              In its place stands the stone memorial to a Mr. James Bent.
  </p>


                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
