<div class="section-1 full-page">
  <div class="filter full-page">
    <p class="oswald yellow medium center width90 margin-bottom-1">Adventures to Challenge and Excite!</p>



<div class="link-to-wrapper width90">

        <p class="medium white im-fell-english center hover-shadow">Knights of the Infernal Order</p>
        <div class="profile-image-parent">
        <img class="image" src="img/kgc.jpg" alt="">
        </div>
        <p class="small center white oswald margin-top-1">Search Nashville for clues to it's past, quest for something hidden since the Civil War,
          and delve into the mysteries of music city's secret societies!</p>
        <p class="small white oswald center">Will I need to drive anywhere once I'm started? yes</p>
        <p class="small white oswald center margin-bottom-1">Expected time to complete: 4 hours</p>
        <p class="medium yellow oswald center margin-bottom-1">Cost: $40</p>
        <p class="medium yellow oswald center margin-bottom-1">If you are on your desktop/laptop right now, DO NOT BUY.  The adventure requires you be on your phone!  Come back here on your mobile and buy from there :)</p>


        <div class="paypal-parent margin-bottom-1">
          <p class="center medium yellow margin-bottom-1">Pay with Paypal</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TD536GM4WKLVN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



        </div>

{{#link-to 'knights-of-infernal-order.adventure.prologue' class='link-to'}} <h1 class="yellow">prologue</h1>
{{/link-to}}
</div>

  </div>
</div>



{{outlet}}
