<div class="section-1 full-page">
  <div class="filter full-page">
    <p class="oswald yellow medium center">Adventures to Challenge and Excite!</p>

    <ul>
      <li>

        {{#link-to 'knights-of-infernal-order.paywall' class='link-to'}}
        <p class="medium white im-fell-english center hover-shadow">Knights of the Infernal Order</p>
        <div class="profile-image-parent">
        <img class="image" src="img/kgc.jpg" alt="">
        </div>
        <p class="smaller center white oswald">Search Nashville for clues to it's past to solve a mystery that has endured since the Civil War,
          and delve into the mysteries of it's secret societies!</p>
        <p class="very-small white oswald center">Will I need to drive anywhere? yes</p>
        <p class="very-small white oswald center">Expected time to complete: 4 hours</p>

        {{/link-to}}
        {{#link-to 'knights-of-infernal-order.paywall' class='div-center'}}
        <button class="back-button oswald">Buy Now</button>
        {{/link-to}}
      </li>
    </ul>

  </div>
</div>



{{outlet}}
