<h1>this is a list of all the adventures we currently offer in nashville</h1>
<ul>
  <li>
    {{#link-to 'knights-of-infernal-order.paywall'}}
    <h3>Knights of the infernal order</h3>
    <p>brief description of what it is about, and how long it will take on average, and weather you need to drive</p>
    <button>purchase button</button>
    {{/link-to}}
  </li>
</ul>
{{outlet}}
