<div class="paywall-section full-page">
  <div class="filter-replacement full-page">
    <div class="seperator">
      <div class="seperator-image-parent">
        <img src="img/logosmall.png" alt="" class="image">
      </div>
      <p class="medium white im-fell-english center">Knights  of  the  Infernal  Order</p>

    </div>
    <div class="even-blacker">
    <div class="gargoyle-image-parent">
      <img src="img/gargoyle.jpg" alt="" class="image">
    </div>
    </div>
  <div class="link-to-wrapper width90">



          <p class="small center black libre-baskerville margin-top-1">Search Nashville for clues to it's hidden past. Quest for a hidden treasure sought after since the Civil War,
            and delve into the mysteries of music city's secret societies!</p>
            <p class="medium black oswald center margin-top-2">Things you will need:</p>
            <p class="small black libre-baskerville center">Phone Charger</p>
            <p class="small black libre-baskerville center">Snacks</p>
            <p class="small black libre-baskerville center">Water</p>
            <p class="small black libre-baskerville center">Transportation</p>
            <p class="small black libre-baskerville center">Smart Phone</p>
            <p class="small black libre-baskerville center">Expected time to complete: 4 hours</p>
            <p class="small black libre-baskerville center margin-bottom-1">Max distance from downtown: 13.2 miles</p>
            <p class="medium red oswald center margin-top-2">Regular Price: $40</p>

            <p class="medium black oswald center margin-bottom-1">Your Cost: $20</p>


          <div class="paypal-parent margin-bottom-1">
            <p class="center oswald small black">Pay with Paypal</p>
            {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="TD536GM4WKLVN">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form> --}}

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="TD536GM4WKLVN">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>



          </div>

  </div>

  {{!-- {{#link-to 'knights-of-infernal-order.TermsConditions' class='link-to'}} <h1 class="yellow">Bypass Paywall</h1>
  {{/link-to}} --}}


  </div>
</div>



{{outlet}}
