<div class="seperator full-page">
  <div class="seperator-image-parent">
        <img src="/img/logosmall.png" alt="" class="image">
      </div>
      <p class="left medium yellow oswald">We've detected that you are on a tablet or desktop computer.</p>
      <p class="left medium yellow oswald">
        Please visit our website from your smartphone to continue the purchase process.
      </p>
      {{#link-to 'index' class="margin-top-3"}}
      <button class="btn-yellow medium oswald">BACK</button>
      {{/link-to}}
</div>





{{outlet}}
