<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
  In further discussion with Mr. Howard
  and our lieutenant Mr. Hill at our weekly
  conclaves, we were united in the decision
  that it would be more fitting not to divulge
  to each other the locations of our homes or
  the nearby temples we had established. We
  also felt it pertinent to protect the
  identities of our cohorts.  In the event of
  capture, in no way would the apprehended be
  able to apprise our adversaries as to the
  whereabouts of the others or their troves.
  Knowing that the remainder would still need
  to snatch the valuables each of us stowed
  upon our retreat, we agreed upon fashioning
  ourselves a map of sorts. Each of us
  contributing a key to be followed directly
  from the saloon. For posterity's sake I have
  recorded the keys to the map in this journal.
  The first included is my own.
                               </p>

  <p class="p2">"In the saloon we took our seats</p>
  <p class="p2">Checkered stories and secrets meet</p>
  <p class="p2">A man framed up the winding stairs</p>
  <p class="p2">Behind his sword a hollow glare</p>
  <p class="p2">Our foes will take and give no quarter</p>
  <p class="p2">Seek the letters in disorder"</p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
