<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  In further discussion with Mr. Howard and our lieutenant, Mr. Hill, we were united in the decision that it would be wise to not divulge to each other the locations of our homes or the nearby Temples we had established. We also felt it quite pertinent to withhold the identities of our cohorts so that in the event of capture, the apprehended would not be able to apprise our adversaries as to the whereabouts of the others or their troves.
                               </p>

                <p class="p2">This left the matter of what would happen to these troves should any one of us be arrested. We came to the agreement that the others would be counted on to retrieve the hidden valuables and so we fashioned ourselves a map, each of us contributing a key to be followed directly from the saloon. For posterity's sake, I have recorded the map keys in this journal.
</p>
<p class="p2">The first included is my own:</p>

  <p class="p2">"In the saloon we took our seats</p>
  <p class="p2">Checkered stories and secrets did meet</p>
  <p class="p2">A man was framed up the winding stairs</p>
  <p class="p2">Behind his sword a hollow glare</p>
  <p class="p2">Our foes will take and give no quarter</p>
  <p class="p2">Seek the letters in disorder"</p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
