<div class="home-page-container">
  <div class="section-1">
    <div class="filter">
  <h1 class="home-page-h1"><i>LIVE THE ADVENTURE...</i></h1>
  <div class="image-parent">
  <img class="image" src="img/logo.png" alt="">

</div>
<p class="cityscape">CITYSCAPE</p>
<p class="cityscape number">01</p>
</div>
</div>

<div class="section-2">

<div class="im-fell-english"><h1 class="chapter">chapter</h1></div>
<div class="flex-row-container">
<p class="im-fell-english description">Urban Adventures is a story driven scavenger hunt played through your phone. We set you as the main
  character in an adventure that will have you explore the city of Nashville to discover and solve puzzles hidden in the real world!</p>
  <div class="equation-container">
    <div class="equation-image-parent">
      <img class="image" src="img/maps.png" alt="">
    </div>
    <div class="equation-symbol-parent">
      <img class="image" src="img/plus.png" alt="">
    </div>
    <div class="equation-image-parent">
      <img class="image" src="img/You.png" alt="">

    </div>
    <div class="equation-symbol-parent">
      <img class="image" src="img/equals.png" alt="">

    </div>
    <div class="equation-image-parent">
      <img class="image" src="img/IndianaJones.png" alt="">

    </div>

  </div>
</div>
</div>
{{#link-to 'cities'}}
<h3>Cities</h3>
{{/link-to}}


{{outlet}}
</div>
