<div class="home-page-container">
  <div class="section">
    <div class="filter">
  <h1 class="home-page-h1"><i>LIVE THE ADVENTURE...</i></h1>
  <div class="image-parent">
  <img class="image" src="img/logo.png" alt="">

</div>
<p class="cityscape">CITYSCAPE</p>
</div>
</div>
{{#link-to 'cities'}}
<h3>Cities</h3>
{{/link-to}}


{{outlet}}
</div>
