<div class="home-page-container">
  {{!-- <div class="seperator-top">
    <p class="oswald yellow small margin-right-1">Destination Nashville customers click</p>
    <button class="btn-yellow">Here</button>
  </div> --}}
  <div class="section-1">
    <div class="filter">
      <div class="index-top-content">


      <h1 class="home-page-h1"><i>LIVE THE ADVENTURE...</i></h1>



      <div class="image-parent">
        <img class="image" src="img/logosmall.png" alt="">

      </div>
     <div class="cityscapeParent">
      <p class="cityscape center">THE CITYSCAPE GAME</p>
{{fa-icon "angle-down" class="large yellow"}}
      </div>

</div>
    </div>
  </div>
  <div class="seperator">
    {{#link-to 'nashville-adventures' class='auto-margin align-self-center phone-play-now'}}
    <button class="btn-yellow oswald medium">PLAY NOW</button>
    {{/link-to}}
    {{#link-to 'use-your-phone' class='auto-margin align-self-center laptop-play-now'}}
    <button class="btn-yellow oswald medium">PLAY NOW</button>
    {{/link-to}}

</div>
  <div class="section-2 relative">

    {{!-- <form {{action "check" on="submit"}} class="top-left dnForm">
      <div class="dnFormChild">
      <button class="btn libre-baskerville smaller">submit</button>
      <input class="black-background white no-border" type="text" placeholder="code" id="dnInput">
      </div>
      <p class="direction-text black margin-top-1 width100">Destnation Nashville visitors place code here.</p>

    </form> --}}



       <p class="number">01</p>
      <p class="chapter libre-baskerville center">chapter</p>
    <div class="oswald what-we-do center">What We Do</div>

    <div class="flex-row-container">
      <p class="libre-baskerville direction-text margin-top-bottom">The Cityscape Game is a story driven experience that centers around your actions. We set you as the main character in an adventure that will have you explore the city of Nashville, and do your own investigation to discover and solve puzzles hidden in the real world!</p>
      <div class="equation-container">
        <div class="equation-image-parent">
          <img class="image" src="img/phonesmall.png" alt="">
        </div>
        <div class="equation-symbol-parent">
          <img class="image" src="img/plussmall.png" alt="">
        </div>
        <div class="equation-image-parent">
          <img class="image" src="img/yousmall.png" alt="">

        </div>
        <div class="equation-symbol-parent">
          <img class="image" src="img/equalsmall.png" alt="">

        </div>
        <div class="equation-image-parent">
          <img class="image" src="img/indianasmall.png" alt="">

        </div>

      </div>
    </div>
  </div>

  <div class="section-3">
    <div class="filter">
      <div class="section-3-number">02</div>
      <p class="libre-baskerville white-chapter">chapter</p>
      <p class="oswald how-it-works margin-bottom-1">HOW IT WORKS</p>
      <div class="direction">
        <div class="direction-image-parent">
          <img src="img/phonesignalsmall.png" alt="" class="image">
        </div>
        <p class="direction-text libre-baskerville white">Your adventure is delivered to your phone through our web app.</p>

      </div>
      <div class="direction">
        <div class="direction-image-parent">
          <img src="img/markersmall.png" alt="" class="image">
        </div>
        <p class="direction-text libre-baskerville white">As the story progresses you'll receive clues to specific locations around the city.</p>

      </div>
      <div class="direction">
        <div class="direction-image-parent">
          <img src="img/williesmall.png" alt="" class="image">
        </div>
        <p class="direction-text libre-baskerville white">At each location a challenging puzzle must be solved in order to advance to the next chapter.</p>

      </div>
      <div class="direction">
        <div class="direction-image-parent">
          <img src="img/keysmall.png" alt="" class="image">
        </div>
        <p class="direction-text libre-baskerville white">Will you have the skill it takes to unlock the story and complete your quest?</p>

      </div>

    </div>
  </div>

  <div class="section-4">
    <p class="section-3-number center">03</p>
    <p class="libre-baskerville white-chapter">chapter</p>
    <p class="oswald where-and-when center margin-bottom-1">Where & When</p>

    <div class="flex-qa-container">
      <p class="libre-baskerville direction-text-2 margin-bottom-1 white">Q: Do I have to visit the company's location to sign up and participate?</p>
      <p class="libre-baskerville direction-text-2 margin-bottom-1 yellow">A: No. You can begin your adventure from anywhere! Once the mobile web app is launched you will be able to purchase and participate right from your phone.</p>
    </div>

    <div class="flex-qa-container">
      <p class="libre-baskerville direction-text-2 margin-bottom-1 white">Q: Do I have to book an appointment or wait for others to finish before I play?</p>

      <p class="libre-baskerville direction-text-2 margin-bottom-1 yellow">A: Adventures don't get scheduled, they happen! Thanks to our nifty web app, you control when you start your journey and with how many people. Whether you're playing by yourself, with a group of friends, or against another team!</p>
    </div>
    <img src="img/skylinecropped.jpg" alt="" class="skyline">
  </div>

  <div class="section-5">
    <div class="section-3-number black center">04</div>
    <p class="libre-baskerville white-chapter black">chapter</p>
    <p class="oswald who-we-are center">Who We Are</p>

    <div class="profile-container">
      <div class="profile-image-parent">
        <img src="img/dancastle.jpg" alt="" class="image circle make-dimentions-match">
      </div>
      <p class="profile-name oswald">Daniel McBryde</p>
      <p class="libre-baskerville direction-text margin-bottom-1">A world traveler and adventurer, Daniel has visited 27 countries as well as hiked across Spain. He spent 2 years living in Japan and is an 8 year veteran of the Navy. Daniel currently works as a web developer in Nashville.</p>

    </div>

    <div class="profile-container">
      <div class="profile-image-parent">
        <img src="img/shypic.jpg" alt="" class="image circle make-dimentions-match">
      </div>
      <p class="profile-name oswald">Shy Blakeman</p>
      <p class="libre-baskerville direction-text margin-bottom-1 bottom-pad">An amateur historian and treasure hunter, Shy explored the Caribbean for 2 years working as a dive master and 1st mate aboard the tall ship "Blackbeard's Revenge". Shy moved back to Nashville in 2014 where he lives in a tiny home he built with his
        wife.</p>

    </div>

  </div>

  <div class="section-6">
    <div class="filter">
      <div class="section-3-number">05</div>
      <p class="libre-baskerville white-chapter">chapter</p>
      <p class="oswald why-wait white center">Why Wait?</p>
      {{!-- <p class="libre-baskerville direction-text margin-bottom-1 white">We are taking submissions from adventurers, problem solvers, and competitors who are interested in playing our first adventure before we launch to the public! To register, follow the link below. You will be contacted when we begin play testing!</p> --}}
      {{!-- <div class="idol-parent">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScEV2x0sKcyqgk6nMUNDZWVwL5S-YVM0B00EDHYWutmm7FkMA/viewform" class="register-text oswald white">REGISTER</a>
      </div> --}}
      <p class="small im-fell-english white center">for</p>
      <div class="adventure-title-parent">

        <p class="medium im-fell-english white">KNIGHTS</p>
        <p class="small im-fell-english white">of the</p>
        <p class="medium-2 im-fell-english white">INFERNAL</p>
        <p class="big im-fell-english white">ORDER</p>
      </div>

      <p class="adventure-blurb minutes im-fell-english white">Discover the secrets hiding in Nashville's Confederate past!</p>

      {{#link-to 'use-your-phone' class='auto-margin laptop-play-now'}}
      <button class="btn-yellow oswald medium">PLAY NOW</button>
    {{/link-to}}
    {{#link-to 'nashville-adventures' class='auto-margin phone-play-now'}}
    <button class="btn-yellow oswald medium">PLAY NOW</button>
  {{/link-to}}

    </div>
  </div>





  {{outlet}}
</div>
