<h2>this is chapter 4-2</h2>
{{#link-to 'knights-of-infernal-order.adventure.chapter4-3'}} <p>to chapter4-3</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter4-1'}} <p>back to previous page</p> {{/link-to}}

{{outlet}}
