<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <p class="p1 center">
                 ///REPORT J5s19e-10a13e19///
              </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  The information included was referenced from the
                following source:
                  </p>

  <p class="p2">Rhodes Parker, Sandra
  </p>
  <p class="p2">"Nashville’s Risen Phoenix",
  </p>
  <p class="p2">Southern Reader Magazine, Published 2004.
  </p>


  <p class="p2">A stroll through the streets of historic Edgefield, Tennessee’s first historic district, is like taking a step back in time.
  </p>
  <p class="p2">Located on the East bank of the Cumberland River, just blocks from downtown Nashville, its prime location offers urban living at its best. This is true today, as it was when Edgefield was an independent city from Jan 2, 1869 until it was annexed by Nashville on February 6, 1880 and rechristened East Nashville. The founders of Nashville's premier businesses, doctors, governors, educators, and even Jesse James called Edgefield home. It is purported, and some claim documented, that Jesse attended and taught Sunday School at a church in Edgefield. Jesse's home still stands today, as does many of the original homes. This is extremely remarkable when considering the tragedies and obstacles which these residents have overcome throughout the decades.

  </p>


  <p class="p2">On a Wednesday in March, the great Edgefield fire, East Nashville’s first major disaster, struck. Around 11:47 a.m., a fire started in a mill located on the banks of the Cumberland. Heavy March winds, with gales from 44-51 mph, fanned the flames through the streets of Edgefield consuming most buildings in its path. This great conflagration was finally brought under control but only after destroying 648 homes and businesses, and leaving over 3,000 homeless. Many of the affluent residents took flight across the river to Bellevue, but many other stalwart individuals remained in Edgefield to rebuild it from the ashes.

  </p>


                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter4-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter4-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
