

<div class="section-2 center chapter-wrapper">
<h2 class="center">Epilogue</h2>
<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
Many Knights of the Sun have knelt at the cornerstone of the Second Temple to recite the oath of our Order. Through the demonstration of your bravery, skill, and honor, you have been deemed fit to do the same.</p>

<p class="left">
By taking this oath, you adopt our banner and its symbol—Fritillaria Imperialis—the Emperor's Crown Tulip. It is an allegory for the Sun, the light that staves off the darkness. You are now a bearer of this light and pledge your soul to protecting it from those who would attempt to stamp it out. You are charged with continuing the good work of this second Order of Knights that has been reborn out of the ruins of the first.</p>

<p class="left">
You now join Frank and Jesse James in the privilege of being initiated into a long line of honorable men and women. Welcome to the Order of the Sun.</p>

<p class="left">Now kneel at the cornerstone and recite this oath:</p>
<p class="oath">
  My soul is with the knights who guard
                  the Tulip.
</p>
<p class="oath">
  At the edge of a field  I lurk
                  among those who have breathed forth
                  fire and scorched the earth.
</p>
<p class="oath">
But the sons of men, whose fangs are spears and arrows and their tongue a sharp sword will once again rise.</p>
<p class="oath">
  As does the Phoenix, as does the
                  Flame Upon the Cross, and as does the
                  Sun.
</p>
<p class="oath">
  Laying the cornerstone for the Second
                  Temple that shall be resurrected out of the
                  ruins of the first.
</p>

<p class="left">Congratulations, my friend. You have completed a great mission. We shall call upon you from time to time, whenever your services are needed. Although there was no true danger this time, the threat of the Infernal Order remains real. Together, we shall answer the call to protect the country from its treachery.
</p>

<p class="left">It is an honor to serve beside you.
</p>
</div>


<div class="list-div auto-margin">

<p class="left">Your Brother,
</p>
<p class="left">William Quantrill the 4th</p>
<p class="left">Grand Commander of the Order of the Sun</p>
</div>

{{!-- <div class="link-to-wrapper">
{{#link-to 'we-will-contact-you'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Our Thanks</button> {{/link-to}}
</div> --}}

<div class="link-to-wrapper">
 <button {{action 'foo' on= 'click'}} type="button" name="button" class="btn margin-bottom-1 im-fell-english ourthanks">Our Thanks</button>
</div>

</div>
{{outlet}}
