<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  I have received word from our loyal sentinels in Nashville. Green and Eastman have called upon my brother’s neighbors in Edgefield under the guise of business with “Mr. Howard.” The neighborhood’s residents revealed that the recently missing Sunday school teacher had once lived on Fatherland Street. Using the map key that he contributed upon our arrival to Davidson County, our acolytes have located his Temple and found the trove still in tact! After much discussion about the attention brought on by Mr. Hill’s incarceration, they have decided to leave the three united troves at rest under the Temple of the Sun. With the treasure safe, my heart may finally rest easy.

                               </p>

  <p class="p2">*Included from page 4 of the diary*</p>
  <p class="p2">"From where I lay my weary head</p>
  <p class="p2">Use a needle but not thread</p>
  <p class="p2">The speed at which you find this place</p>
  <p class="p2">Is the degree to which you set your pace</p>
  <p class="p2">The Order's sin shall be atoned</p>
  <p class="p2">Our salvation lies with the cornerstone"</p>
  <p class="p2">233°, 100</p>
  <p class="p2">339°, 140</p>
  <p class="p2">240°, 130</p>
  <p class="p2">340°, 18</p>
  <p class="p2">240°, 180</p>
  <p class="p2">0°, 15</p>


                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter4-7'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter4-5' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
