<h2>this is chapter 4-4</h2>
{{#link-to 'knights-of-infernal-order.adventure.chapter4-5'}} <p>to chapter4-5</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter4-3'}} <p>back to previous page</p> {{/link-to}}

{{outlet}}
