<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 3</h2>
<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
Outstanding work, indeed! Our organization had heard your reputation for being clever, and so far you have proven it to be quite true. I have forwarded the decoded message to our researchers. While we wait for them to look into the cipher, allow me to share with you our progress we’ve made on Mr. Woodson’s journal.</p>
</div>
<p class="left">Please click the link to activate the encrypted messenger below.
</p>

<div class="list-div auto-margin">
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter3-2'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter2-7'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
