<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  Upon our arrival in Tennessee, each of us took up residence in different parts of Davidson County and commenced making contact with our fellow brethren as was planned. Once this objective was met, it was agreed that we three would meet on the noon of each Sunday at Rhea’s store on Market Street where Mr. Howard had procured employment. As to not raise suspicion, we would walk down to the corner and take a table in the upstairs of a saloon. It is here we conferred to whisper machinations against our enemies.
                               </p>
                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
