<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                                 After arriving in Tennessee and each
                                 of us setting up residences in
                                 different parts of Davidson County, we
                                 had all commenced in making contact
                                 with our fellow brethren as was
                                 planned. Once this objective had been reached,
                                 it was agreed upon that our 3 meet
                                 once a week on the noon of each
                                 Sunday. We would congress in the
                                 saloon on the bottom floor of Watkins'
                                 place on Market street in Nashville. As
                                 to not raise any suspicion, we would take
                                 a table upstairs. It is here that we
                                 malingered and whispered of machinations
                                 against our enemies.
                               </p>
                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
