
<h2>this is chapter 1-2 (decodex)</h2>
{{#link-to 'knights-of-infernal-order.adventure.chapter1-3'}} <p>to chapter1-3</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-1'}} <p>back to previous page</p> {{/link-to}}

{{outlet}}
