<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 2</h2>
<div class="image-parent margin-top-bottom">

  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
It seems these three Knights were tied to conspirators at the highest levels! Thanks to your help, we’ve been able to dig up information on Charles H. Eastman—the man you see in the framed picture before you.
</p>

<p class="left">Our research shows that Mr. Eastman was elected Eminent Commander of the Independent Order of the Sons of Malta during the time that the Infernal Order was conspiring in Nashville.
</p>
<p class="left">Please note the report I have included from our researchers…</p>
</div>


<div class="list-div auto-margin">
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="button-wrapper-row">
  {{#link-to 'knights-of-infernal-order.adventure.chapter1-7'}} <button type="button" name="button" class="btn medium white center im-fell-english padding-rl-3">Back</button> {{/link-to}}

{{#link-to 'knights-of-infernal-order.adventure.chapter2-2'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Decodex</button> {{/link-to}}
</div>

</div>
{{outlet}}
