<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 2</h2>
<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  It seems these agents were tied to
               conspirators at the highest levels! We've
               received  copious amounts of information on
               this Charles H. Eastman fellow that was posed
               in the picture. In these files it shows Mr.
               Eastman as being the elected Eminent
               Commander of the Masonic Knights Templar of
               Tennessee during the time the Infernal Order
               were conspiring in Nashville. Please note the
               report I have included from our researchers.

</p>
</div>


<div class="list-div auto-margin">
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter2-2'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-7'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
