<div class="section-1 full-page">
  <div class="filter full-page">
    <p class="oswald yellow small center width90">Two Ways to Pay</p>

    <div class="stripe-parent">stripe div</div>

    <div class="paypal-parent">paypal div</div>

     <a href="https://docs.google.com/forms/d/e/1FAIpQLScEV2x0sKcyqgk6nMUNDZWVwL5S-YVM0B00EDHYWutmm7FkMA/viewform" class="white center link-to">terms and conditions</a>
    {{#link-to 'knights-of-infernal-order.TermsConditions' class='link-to white center'}}
    <h3>Pay the money and send me to terms and conditions</h3>
    {{/link-to}}
    {{outlet}}
  </div>
</div>
