<h1>Here is the terms and conditions page</h1>
{{#link-to 'index'}} <h3>dont agree and be a bitch and shit me back to index</h3>{{/link-to}}
{{#link-to 'knights-of-infernal-order.rules'}}
<h3>agree and to the rules page</h3>

{{/link-to}}
{{outlet}}
