<div class="section-1 full-page">
<div class="filter full-page">
<h1 class="center yellow libre-baskerville">Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. </h1>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSfYg82OqIo2CSb7vLV0u3IXDC1miKIyxqRnxMGRy9xt9hRUzQ/viewform?usp=sf_link"><button class="btn">Continue</button></a>



{{outlet}}
</div>
</div>
