<h1>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. </h1>
{{#link-to 'index'}} <h3>dont agree and be a bitch and shit me back to index</h3>{{/link-to}}
{{#link-to 'knights-of-infernal-order.rules'}}
<h3>agree and to the rules page</h3>

{{/link-to}}
{{outlet}}
