<div class="paywall-section full-page">
  <div class="filter-replacement full-page">
    <div class="seperator">
      <div class="seperator-image-parent">
            <img src="/img/logosmall.png" alt="" class="image">
          </div>
          <p class="center yellow medium libre-baskerville margin-top-bottom width90">Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. </p>
</div>


<a class="margin-top-bottom" href="https://docs.google.com/forms/d/e/1FAIpQLSfYg82OqIo2CSb7vLV0u3IXDC1miKIyxqRnxMGRy9xt9hRUzQ/viewform?usp=sf_link"><button class="btn oswald">Continue</button></a>

{{!-- {{#link-to 'knights-of-infernal-order.rules'}}
to rules
{{/link-to}} --}}
{{outlet}}
</div>
</div>
