
<h2>this is chapter 1-7</h2>
{{#link-to 'knights-of-infernal-order.adventure.chapter2-1'}} <p>to chapter2-1</p> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-6'}} <p>back to previous page</p> {{/link-to}}

{{outlet}}
