<div class="section-1 full-page">
  <div class="filter full-page">
    <p class="center yellow oswald small margin-bottom-1">Rules and Regulations</p>
    <p class="centeroswald small white">How the Game Works:</p>

      <div class="list-div">
      <p class="white left margin-bottom-1"><strong>1: KEEP THIS BROWSER WINDOW OPEN AT ALL TIMES.   EXITING OUT OF THE BROWSER APP IS OK AS LONG AS THIS
        BROWSER WINDOW STAYS OPEN.</strong></p>
      <p class="white left margin-bottom-1">2: The adventure is delivered to your phone(s) through our mobile web app in 5 chapters.</p>
      <p class="white left margin-bottom-1">3: As the adventure progresses, you will be given clues to specific locations in and around the city.</p>
      <p class="white left margin-bottom-1">4: Part of your challenge will be to research and find the address of these locations. You are allowed to use your favorite search engine, phone a friend, or ask a local.
</p>
      <p class="white left margin-bottom-1">5: After verifying the address, you MUST visit the locations.</p>
      <p class="white left margin-bottom-1">6: Once you arrive, you will be given a clue to where a puzzle is hidden.</p>
      <p class="white left margin-bottom-1">7: Your next challenge will be to find and solve the puzzle. Again, You are allowed to use your favorite search engine, phone a friend, or ask a local.</p>
      <p class="white left margin-bottom-1">8: Once the correct answer is entered, the next chapter of the story will be unlocked.</p>
      <p class="white left margin-bottom-1">9: During a timed adventure, if you are able to complete your quest successfully in the time allotted, you will be given the opportunity to buy a super duper exclusive “X” t-shirt.</p>
</div>
<div class="list-div">
  <p class="yellow left margin-bottom-1"><strong>RULES:</strong></p>
  <p class="white left margin-bottom-1">1:Don’t be an A-hole! Breaking and entering, vandalism, or destruction of private property of any kind is strictly forbidden.</p>
  <p class="white left margin-bottom-1">2:Please be vigilant of your surroundings AT ALL TIMES. We don’t want anyone getting hurt. That’s bad news bears for all of us!</p>
  <p class="white left margin-bottom-1">3:Any location you will be asked to visit IS publically accessible. In the event that a puzzle is hidden inside of a business that is closed, you MUST wait until the business is open to access it.</p>
  <p class="white left margin-bottom-1">4:If your adventure is timed, it will begin once you have reached the first chapter. If you prefer not to be timed, feel free to disable the clock.
</p>
  <p class="white left margin-bottom-1">5:If you are having trouble, don’t be afraid to use the hints. We might make fun of you for having to, but we won’t deduct time.
</p>
  <p class="white left margin-bottom-1">6:Seriously, don’t be an A-hole!
</p>
  <p class="white left margin-bottom-1">7:Please don’t ruin the adventure for others. If you find an artifact connected to the game, you are welcome to take a picture of it for later use. Then please, put it back WHERE and HOW you found it. How would you feel if you payed good money to play and couldn’t continue thanks to some joker?
</p>
  <p class="white left margin-bottom-1">8:In the event that an artifact is missing, contact us immediately and you will be promptly emailed a digital version of the artifact or puzzle.
</p>
  <p class="white left margin-bottom-1">9:Please help us keep the wonder and discovery alive for others. We ask that you not give the story away to those who haven’t played. It would be like telling someone that Han Solo dies at the end of The Force Awakens.
</p>

</div>


    {{#link-to 'knights-of-infernal-order.adventure.prologue' class='link-to yellow center margin-bottom-1 border-white'}} Start Adventure! {{/link-to}}



{{outlet}}
  </div>
</div>
