<h3>this is the rules page.  here we list the rules for this game and all the things they need to know to play.  last BS before you start we promise.</h3>
{{#link-to 'knights-of-infernal-order.adventure.prologue'}} Start Adventure! {{/link-to}}
{{outlet}}
