<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">

  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  I knew your wits were sharp as a tack!
</p>

<p class="left">
  Through our own research, we have deduced that 2nd Avenue was once known as Market Street. Both the name of the street and the address numbering system were amended in 1903. The Rhea Building—in front of which you now stand—was built by B.S. Rhea, a prominent member of Nashville society. Mr. Rhea acquired his wealth as a wholesaler of agricultural commodities, owned a river & rail terminal in East Nashville, and was a business partner of Captain Tom Ryman. Further investigation has also revealed that Mr. Howard did indeed work for B.S. Rhea as a wheat speculator.

</p>
<p class="left">Below is a tintype photograph of Market Street as Mr. Rhea would have known it:</p>
</div>

<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/market.jpg" alt="">
</div>

<div class="list-div auto-margin">
<p class="left">
  While you were on your way to the Rhea Building, I received a bit of good news—Our cryptologists have just decoded additional information from Mr. Woodson’s journal! Click the button to view the encrypted message.

</p>
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter1-6'}} <button type="button" name="button" class="btn margin-bottom-1 im-fell-english">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-4'}} <button type="button" name="button" class="btn-question medium white center im-fell-english">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
