<div class="section-2 center chapter-wrapper">

<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  I knew your wits were as sharp as a
               sword! Both the name of Market street and the
               address numbering system were amended in 1903.
               The Watkins Block, in front of which you are
               now standing, was built by Samuel Watkins.
</p>

<p class="left">
  Mr. Watkins moved to Nashville as a boy
                  with his family in the early 19th century.
                  He was orphaned after his parents died of typhoid
                  fever not long after they arrived.. At the age of
                  15, Samuel fought under General Jackson in the
                  battle of New Orleans. A self educated man,
                  Samuel Watkins rose to prominence as a brick
                  mason, and later,  the president of the
                  Nashville Gas & Light Company. He died the
                  richest man in Davidson County in 1880,
                  leaving his wealth in trust to the State of
                  Tennessee to establish the Watkins Institute.
                  The school offered free lectures on physical
                  and natural science to promote knowledge and
                  provide the city's poorer youth with the
                  opportunity to acquire useful information.
                  Below are tintype photographs of Market Street
                  that date from the time when Mr. Watkins conducted
                  his business in this bustling quarter of the city.
                  Note, the Watkins Block can be seen on the right with
                  the Spurlock Wholesalers sign painted on the side of
                  the building.

</p>
</div>

<div class="profile-image-parent">
  <img class="image" src="/img/market.jpg" alt="">
</div>

<div class="list-div auto-margin">
<p class="left">
  Our cryptologists have just decoded additional
information from the Missouri document. Please
click the link to view the encrypted message.

</p>
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter1-6'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter1-4'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
