<div class="section-2 center chapter-wrapper">

<h2 class="center">Chapter 4</h2>
<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  During your investigation of  Whites
  Creek our researchers have located
  information on the very same historical
  marker. It seems Mr. Woodson, Howard and
  Hill are none other than the infamous James
  gang! How extraordinary!
</p>

<p class="left">
  Further research has turned up a very
                interesting connection between Edgefield and
                the James brothers. Note the database report
                I have included below.
</p>
</div>


<div class="list-div auto-margin">
<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter4-2'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter3-7'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
