<div class="paywall-section full-page">
  <div class="filter-replacement full-page">
    <div class="seperator">
      <div class="seperator-image-parent">
            <img src="/img/logosmall.png" alt="" class="image">
          </div>
</div>

<div class="section-2">
<p class="center oswald medium margin-top-1">Welcome to the invite only Pre-Launch Event!</p>
<p class="center oswald medium margin-bottom-1">Please input the code provided in your invitation email.</p>
<form class="quiz-box" {{action "check" on="submit"}} >
  <input id="betaInput" class="quiz-input oswald" type="text" placeholder="Enter Code">


  <div class="forward-wrapper">
    {{#link-to 'index'}}
    <button class="btn medium white center oswald">Back</button>

     {{/link-to}}
     <button class="btn oswald" type="submit">Submit</button>


  </div>

</form>
</div>
</div>
</div>

{{outlet}}
