

<div class="section-2 center chapter-wrapper">
<h2 class="center">Epilogue</h2>
<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>


<p class="left">Your choice is very unfortunate. I
                truly hoped your honor would outweigh
                your greed. Your kinsmen will be very
                disappointed when we apprise them of your
                decision. But as I stated previously, you
                shall not be stopped. Do with the treasure
                what you will. Of course, we shall have to
                leave you to your own devices in convincing
                others of the troves existence as well as
                retrieving it. That should be a harrowing
                journey in itself, as it is located in a chamber
                50 feet beneath the Temple.</p>
</div>


<div class="list-div auto-margin">

<p class="left">Sadly,</p>
<p class="left">William Quantrill the 4th</p>
<p class="left">Grand Commander of the Order of the Sun</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'we-will-contact-you'}} <button type="button" name="button" class="btn margin-bottom-1">Our Thanks</button> {{/link-to}}
</div>

</div>
{{outlet}}
