

<div class="section-2 center chapter-wrapper">
<h2 class="center">Epilogue</h2>
<div class="image-parent margin-top-bottom">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>


<p class="left">Your choice is very unfortunate as I had truly hoped your honor would outweigh your greed. Your kinsmen will be very disappointed when I apprise them of your decision, but as I stated previously, you are free to do what you will with the treasure. </p>
<p class="left">Of course, the Order of the Sun will have to leave you to your own devices in regards to convincing others of the troves’ existence. Retrieving them will be a harrowing journey in itself as they are located in a chamber buried deep beneath the Temple. </p>


</div>

<div class="list-div auto-margin">

<p class="left">With sadness,</p>
<p class="left">William Quantrill the 4th</p>
<p class="left">Grand Commander of the Order of the Sun</p>
</div>

<div class="link-to-wrapper">
 <button {{action 'foo' on= 'click'}} type="button" name="button" class="btn margin-bottom-1 im-fell-english ourthanks">Our Thanks</button>
</div>

</div>
{{outlet}}
