<div class="section-2 center chapter-wrapper">

<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  What a superlative effort you have put
                forth! By now you have had time to fully
                gestate the fact that the ghosts we have
                been chasing are none other than Jesse and
                Frank James themselves! You might have had
                your suspicions, but the organization felt it
                best to withhold this information from you
                for your protection. You never know what ill
                will is held towards those that investigate
                long hidden secrets!
</p>

<p class="left">
  We have come close enough to our
                objective that I feel I am able to safely
                tell you more. In 1872 the James Brothers
                were sent to Nashville by their commanding
                Order. While there they were supposed to have
                planned and perpetrated several robberies to
                fill the Confederacy's coffers in a bid to
                raise a second army. But what the Knights of
                the Infernal Order never grasped until it was
                too late, was that the James Brothers and their
                cohorts were secretly aligned with our
                organization!
</p>
<p class="left">
  Instead of hording the stolen treasure
                for the South, they allowed the robberies to
                take place and then, with the misplaced trust
                of the Order, they stashed the booty in the
                Temples they secretly founded. Foiling any
                attempt to fund another war.

</p>

<p class="left">You must understand, the Knights of the
                Infernal Order and our organization were
                once united under a single banner. Before
                the end of the Civil War our guild was known
                as the Knights of the Golden Circle. Many
                Southern patriots like the James Brothers,
                Sam Watkins, C.H. Eastman, A.L.P. Green as
                well as his son were members among our
                ranks. Like many, they were discontent with
                the outcome of the war but had accepted
                their fate. When rogue members of the K.G.C.
                took it upon themselves to assassinate the
                President, a schism was formed within our
                Order and the circle was broken. Two eternal
                enemies were then born, destined to battle
                until the end of days. The Knights of the
                Infernal Order and our organization, The
                Order of the Sun.</p>

                <p class="left">
                  Many in the Infernal Order had taken the
                James Brothers allegiance for granted as
                they had fought so fervently for my
                great-grandfather Capt. William Quantrill
                during the war. But the war was now over
                and our code of honor had been trampled upon
                by such a heinous and cowardly deed as the
                assassination of a president during
                peacetime. They, like the rest of our
                brethren, could not abide by the actions
                that had been taken. So they allowed the
                Infernal Order to continue in their
                misguided faith. All the while working
                toward their destruction. That is until Mr.
                Ryan's ill fated confession.
                </p>
                <p class="left">
                  Once the Infernal Order realized the
                James' true plot, they immediately took
                Ryan into custody on trumped up charges and
                sent their minions after Frank and Jesse. As
                fate would have it, they escaped that night,
                stealing the map and the locations of the
                troves away with them. Nonetheless the
                Infernal Order would catch up with Jesse 13
                months later. Two of their agents, Charley
                and Robert Ford, murdered Jesse in his own
                living room on April 3rd, 1881. Bill Ryan
                was found dead not long after under
                mysterious circumstances. Though faced with
                death, neither gave up the location of the
                treasure. Thankfully, Frank James escaped
                his brother's grim fate and took his secret
                to his natural death, leaving it for us to
                find in the basement of his home in Clay
                County.
                </p>
                <p class="left">
                  Ever since the James' "betrayal" the
                Infernal Order has searched in vain for
                their treasure, making it our duty to
                protect it. With your efforts, we are close
                to stopping them once again! Below is the
                last known picture of Jesse and Frank James
                together. It was taken in Nashville in 1880.
                Jesse sits at the 5th from the left on the
                front row, while Frank is 7th from the left
                on the back row.
                </p>


</div>

<div class="profile-image-parent">
  <img class="image" src="/img/Jesse.jpg" alt="">
</div>



<div class="list-div auto-margin">

  <p class="left">Now, onto the matter at hand. Although
              there were many illegible pages due to the
              condition of the journal, our cryptologists
              concentrated on the leafs of testimony still
              preserved. With much diligence, we have
              unearthed a considerable amount of information
              for you.</p>
  <p class="left">After Bill Ryan's arrest at Earthman’s
              Store, both Captain Green and Charles Eastman
              waited for confirmation from Frank and Jesse
              that they had indeed absconded with the troves.
              When word failed to arrive, Green and Eastman
              followed the instructions left by the two
              brothers. They each secured the troves of
              their temples and relocated them to a final
              resting place. After doing so, they created
              a new key to the map. This new key, authored
              by Green and Eastman, as you know, was included
              in the destroyed pages of the journal. But, this
              is where luck smiles upon us! For Green and Eastman
              decided to leave the combined troves in rest
              at the Temple of the Sun! Which means the
              original key that Jesse contributed will still
              work! The key gives instructions to be
              followed from the Sam Watkins building to his
              home in Edgefield, and from there to the
              Temple of  the Sun. Thanks to your brilliance,
              we are able to take up the chase from Jesse's
              house! Please, click the link to the encrypted
              messenger below to read from Frank James’
              final entry in his journal.</p>



<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter4-6'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter4-4'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
