<div class="section-2 center chapter-wrapper">

<div class="profile-image-parent">
  <img class="image" src="/img/swirly.png" alt="">
</div>
<div class="list-div auto-margin">
  <p class="left">Friend,</p>

<p class="left">
  What a superlative effort you’ve put forth! By now, you’ve had time to fully realize that the operatives  that we have been pursuing are none other than Frank and Jesse James! As for Mr. Hill… you might recognize him as Bill Ryan! You may have had your suspicions prior to now, but top members of our organization felt it best to withhold this information from you for your protection. You never know what ill will is aimed towards those who meddle in long-hidden secrets!
</p>

<p class="left">
We have now come close enough to our objective that I feel I am able to safely reveal more… In 1872, the James Brothers were sent to Nashville by their commanding Order and were tasked with carrying out several robberies to finance the Order’s effort to raise enough money for a second Confederate army. Little did the Knights know, however, that the James Brothers and their cohorts were secretly aligned with our organization! </p>

<p class="left">
Instead of stashing the stolen wealth on behalf of the Confederacy, the James Brothers—with the misplaced trust of the Order—hid their loot in the Temples that they had secretly founded, thus foiling any attempt to fund another war.
</p>

<p class="left">But I’m getting ahead of myself… You must understand that before the end of the Civil War, the Knights of the Infernal Order and our organization were once united under a single banner
known as the Knights of the Golden Circle. Many Southern patriots like the James Brothers, Sam Watkins, Charles Eastman, Revered Green, and Captain Green, were members among our ranks. Like many, they were discontented with the outcome of the war but had accepted their fate. However, when rogue members of the Knights of the Golden Circle took it upon themselves to assassinate President Lincoln, a schism formed within our order and the Golden Circle was broken.
</p>

                <p class="left">
                  In that moment, two eternal enemies were born—The Knights of the Infernal Order and our organization, the Order of the Sun—each destined to battle the other until the end of days.​

                </p>
                <p class="left">
                  Many in the Infernal Order had taken the James Brothers’ allegiance for granted as they had fought so fervently under my great-grandfather, Captain William Quantrill, during the war. But with the war now over and the Golden Circle’s Code of Honor trampled upon by such a heinous and cowardly deed as the assassination of a president during peacetime, the James Brothers could not overlook the actions that had been taken. They allowed the Infernal Order to continue their misguided faith, all the while working toward the Order’s destruction. That is, until Bill Ryan's drunken confession.
​

                </p>
                <p class="left">
                  Once the Infernal Order realized the James' true plot, they immediately took Ryan into custody on trumped up charges and sent their Knights after Frank and Jesse. As fate would have it, the James Brothers managed to escape that night, taking the map of the troves’ locations with them. Nonetheless, the Infernal Order would catch up with Jesse 13 months later when two of its operatives, Charley and Robert Ford, murdered Jesse in his own living room on April 3rd, 1881. Not long after, Bill Ryan was found dead under extremely mysterious circumstances. Though both men were forced to face death, neither gave up the location of his treasure.
                </p>

<p class="left">Thankfully, Frank James escaped his brother's grim fate and took his secret to his grave, leaving the only remaining clues for us to find in the basement of his Clay County home.
</p>
<p class="left">Below is the last known picture of Jesse and Frank James together, which was taken in Nashville in 1880. Jesse sits fifth from the left in the front row, while Frank is seventh from the left in the back.
</p>

</div>

<div class="profile-image-parent">
  <img class="image" src="/img/Jesse.jpg" alt="">
</div>



<div class="list-div auto-margin">

  <p class="left">Ever since the James' betrayal, the Infernal Order has searched in vain for their treasure, making it our duty to protect it. With your efforts, we are close to stopping them once again!
</p>
  <p class="left">Although the condition of the journal made many of its pages illegible, our cryptologists have concentrated on the leafs of testimony that have still been preserved. With much diligence, we’ve unearthed a considerable amount of information for you…</p>

<p class="left">After Bill Ryan's arrest, both Captain Green and Charles Eastman waited for confirmation from Frank and Jesse that they had indeed absconded with the troves. When word failed to arrive, Green and Eastman followed the instructions left for them by the two brothers. They each secured the troves of their Temples and moved them to a final resting place, creating a new key to the map. </p>
<p class="left">This new key, authored by Green and Eastman, was amongst the destroyed pages of the journal. But, as luck would have it, Green and Eastman decided to hide the combined troves at the Temple of the Sun, meaning that Jesse’s original key will still work!</p>
<p class="left">The key gives instructions to be followed from the Sam Watkins building to Jesse’s home in Edgefield, and from there, to the Temple of the Sun. Thanks to your brilliance, we are able to take up the hunt from Jesse's house! </p>
<p class="left">Please, click the link to the encrypted messenger below to read from Frank James’ final journal entry.
</p>

<p class="left">Sincerely,</p>
<p class="left">Q.</p>
</div>

<div class="link-to-wrapper">
{{#link-to 'knights-of-infernal-order.adventure.chapter4-6'}} <button type="button" name="button" class="btn margin-bottom-1">Decodex</button> {{/link-to}}
{{#link-to 'knights-of-infernal-order.adventure.chapter4-4'}} <button type="button" name="button" class="btn-question medium white center oswald">Back</button> {{/link-to}}
</div>

</div>
{{outlet}}
