<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                                Today I received encouraging news from
                                Charles Eastman by written correspondence.
                                He has informed me of his successful retrieval
                                and attention to the valuables my brother and
                                I were forced to leave behind during our hasty
                                retreat. With the help of our own, he has
                                relocated the Phoenix trove and united it
                                with the trove of the Flame Upon The Cross.
                                It still confounds me as to how my brother
                                would entrust the establishment and watch of
                                a Temple and its trove to such a drunkard of
                                a man as Mr. Hill. His arrest has caused us a
                                great deal of difficulty. Though Mr. Eastman
                                has assured me, that other than his foolhardy
                                confessions the night of his apprehension,
                                Mr. Hill has remained silent as to our plans.
                                It is of little matter, for our cause will
                                surely prevail. In preparation for our return,
                                Charles has fashioned a new key to the map so
                                that we may recover the wealth of our
                                fatherland from it’s resting place. I have
                                taken the privilege of transcribing it below for
                                our future use.
                               </p>

  <p class="p2">PHOENIX = SCATHED</p>
  <p class="p2">HIAEQI PEOQ</p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
