<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <p class="p1 center">
                 ///DATABASE REPORT J5s19e-10a13e19///
              </p>
                <div class="list-div auto-margin">
                <p class="p2">
                  The following facts were obtained from the personal memoirs of Mr. Charles H. Eastman of Nashville, Tennessee:
                  </p>

  <p class="p2">At that time, Mr. Eastman lived in a mansion known as Cedarnwold in Bordeaux near Hyde’s Ferry. The ferry ran a few hundred yards below the present-day Hyde’s Ferry Bridge, and the road to the ferry passed in front of Mr. Eastman’s residence. On this road, nearly opposite Cedarnwold, were a few little cottages where Mr. Woodson lived.

  </p>

  <p class="p2">Mr. Eastman goes on to write a great deal about Mr. Woodson:</p>

  <p class="p2">"I came to know my compatriot as “Mr. Woodson” during his stay in one of the cottages across the road from Cedarnwold. Of course, I had been obliged to call him by his true name, James, during the struggle of the war. Mr. Woodson would often sit with us on our porch in the evenings. He was fond of Shakespeare and could quote the bard quite extensively. It was, after all, our congenial literary tastes that first brought us close together so many years ago. He frequently rode to the west of town with me to tend to affairs of a very secret and important matter.
  </p>

  <p class="p2">Last week, I received terrible news regarding the goal we had both been working so diligently toward. After a day of heavy carousing, it seems our mutual friend, Mr. Hill, disclosed our plans to a group of gentlemen he assumed to be sympathizers. Once enough had been revealed, he was immediately remanded into custody. The following morning, when I hurried to apprise my dear friend of the situation, I discovered he was already gone."

  </p>

  <p class="p2">When his brother, Mr. Howard, failed to follow Mr. Woodson's key to the map and call upon me, I enacted our plan, traveling at once to the Temple to relocate the riches our Order is protecting. Having done so, I can only pray that Mr. Hill has not divulged too much to that traitorous Constable.
</p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
