<div class="paywall-section full-page">
  <div class="filter-replacement full-page">

    <div class="seperator">
      <div class="seperator-image-parent">
            <img src="/img/logo.png" alt="" class="image">

          </div>
          <h1 class="center oswald yellow">Thank you so much for playing our game!</h1>

    </div>

        <div class="list-div">

<p class="left libre-baskerville margin-top-2">

We really appreciate you going on this journey with us, and taking the time to help us make this
adventure the best we can make it!  We want people to go on adventures wherever they live.
</p>
<p class="left libre-baskerville">

Hopefully, you felt a little of the sense of wonder we here at 5th Wall Games value so much.  It would mean everything to us if you would let us buy you a drink or a coffee
soon so you can tell us about your experience.  <strong class="">And to sweeten the deal, we'll refund half of your purchase price at the interview!</strong>
</p>


<p class="left libre-baskerville">
  One of our founders will be emailing you soon to set a time and date up.
</p>
<p class="left libre-baskerville">Seriously, Thank you so much!
</p>
<p class="left libre-baskerville"><strong>Dan and Shy</strong>
</p>
<p class="left libre-baskerville">Founding Partners of 5th Wall Games
</p>

</div>
<div class="link-to-wrapper">
{{#link-to 'index'}} <button type="button" name="button" class="btn margin-bottom-1 oswald">Exit</button> {{/link-to}}
</div>
  </div>
  </div>
