<div class="section-1 full-page">
  <div class="filter full-page">
    <div class="list-div">
<h1 class="center oswald yellow">Thank you so much for playing our game!</h1>

<p class="left libre-baskerville white">

We here at Cityscape really appreciate you going on this journey with us, and taking the time to help us make this
adventure the best we can make it!  We want people to go on adventures right in the city where they live,
and experience their world in a new way. And hopefully, get a little of thier sense of wonder back.  Now, you are part
 of making that dream a reality.  It would mean everything to us if you would let us buy you a drink or a coffee
soon so you can tell us about your experience.  <strong class="yellow">And to sweeten the deal, we'll refund half of your purchase price at
the interview!</strong>
</p>


<p class="left libre-baskerville white">
  Simply shoot one of our founders an email at <a href="mailto:shy@cityscapegames.com" class="white">shy@cityscapegames.com</a> and let us know when you're free, and we'll get back to you pronto!
</p>
<p class="left libre-baskerville white">Seriously, Thank you so much!
</p>
<p class="left libre-baskerville yellow">Dan and Shy
</p>
<p class="left libre-baskerville white">Founding Partners of Fifth-Wall Entertainment
</p>

</div>
<div class="link-to-wrapper">
{{#link-to 'index'}} <button type="button" name="button" class="btn margin-bottom-1">Exit</button> {{/link-to}}
</div>
  </div>
  </div>
