<h2>let us buy you a drink!</h2>
<h4>we will be contacting you soon to set up a meeting to discuss your experience.  We'd be happy to buy you coffee or a cocktail!</h4>

{{#link-to 'index'}}<button>exit</button>{{/link-to}}
{{outlet}}
