<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                                Not long after my correspondence with Mr. Eastman, I
                                received a wire from a Captain Green of North Davidson
                                County. Initially I was not aware of how I knew this
                                gentleman until he spoke of his recently making Charles
                                Eastman’s acquaintance. Thanks to our plan, both had
                                followed the keys of the map to each other. Captain Green
                                is assuredly a member of our Order and was either in
                                league with my brother or Mr. Hill. Though, as of this
                                moment,  I do not know which as this information was not
                                divulged in the telegram. What was told, was their plan
                                to retrieve the final trove from the Temple of the Sun
                                and combine all three so that they may be deposited at a
                                more secure location. Once  this task has been completed,
                                both Green and Eastman will prepare another key to the map
                                pointing us in the trove’s direction. Captain Green has
                                informed me that I shall be able to find the key at the
                                Temple of the Flame Upon the Cross. This most assuredly is
                                where Charles Eastman’s coded message is leading us.
                               </p>

  <p class="p2">
                    Of other news, my brother Mr. Howard has sent word of
                    his safe return to Missouri. He has already begun to
                    enlist men for our return to Nashville. He writes that
                    his first two recruits are of kin like ourselves. He
                    refers to them as “greenhorns”,  but adds that these Ford
                    brothers show much promise. I look forward to reuniting
                    with him soon.

  </p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">NEXT</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
