<div class="decodex-wrapper">
  <p class="p1">
     C:/Decod.exe/run...<span class="decodex-span">|</span>
  </p>
  <p class="p2">
                   Accept Encrypt @ - L 6 fxR<br>
                   Set Decrypt @ - L 6 fxR<br>
                </p>
                <div class="list-div auto-margin">
                <p class="p2">
                                Not long after my correspondence with Charles Eastman, I received a wire from a Captain Green of North Davidson County. Though initially his name was unfamiliar to me, I came to understand that he had recently made Mr. Eastman’s acquaintance. Thanks to the plan set forth by my brethren and me, both men had followed our initial map keys to each other. Captain Green must have been in league with either my brother or Mr. Hill, though the telegram did not immediately make clear which.
                               </p>

  <p class="p2">
    He did, however, make known to me their plan to retrieve the final trove from the Temple of the Sun and deposit all three troves together at a singular secure location. Once this task has been completed, both Green and Eastman will prepare a new map key pointing us in the trove’s direction. Captain Green has informed me that I shall be able to find the key at the Temple of the Flame Upon the Cross. This most assuredly is where Charles Eastman’s coded message is leading us.

  </p>

  <p class="p2">In other news, my brother, Mr. Howard, has sent word of his safe arrival in Missouri. He has already begun to enlist men for our return to Nashville and writes that his first two recruits are of kin like ourselves. He refers to the men as greenhorns but adds that these Ford brothers show much promise. I look forward to reuniting with him soon.</p>

                               <span class="p2">END TRANSMISSION...</span><span class="decodex-span">|</span>
</div>

<div class="link-to-wrapper">
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-3'class='decodex-link-to next-btn'}} <p class="p2 next center auto-margin ">Next</p> {{/link-to}}
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-1' class='decodex-link-to decodex-back'}} <p class="p2 next center auto-margin">Back</p> {{/link-to}}
</div>
  {{outlet}}

</div>
